{{template "base" .}}

{{define "content"}}
    <h1>This is the about page from Daro</h1>
    <p>This came from the template: {{index .StringMap "test"}}</p>
    <p>
        {{if ne (index .StringMap "remote_ip") ""}}
            Your remote IP address is {{index .StringMap "remote_ip"}}
        {{else}}
            I don't know your IP address. Visit <a href="/">Homepage</a> to set it.
        {{end}}
    </p>
{{end}}