<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Youth Basketball Expert</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/static/images/icon.png" alt="Youth Basketball Expert" height="24"
                 class="d-inline-block align-text-top">
            Youth Basketball Expert
        </a>

        <div class="collapse navbar-collapse offset-lg-1" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Rooms
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/rooms/generals-quarters">General's quarters</a></li>
                        <li><a class="dropdown-item" href="/rooms/major-suite">Major Suite</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reservations/new" aria-disabled="true">Book now</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact" aria-disabled="true">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="main-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="/static/images/basket2.png" class="d-block w-100" alt="Youth Basketball Expert">
            <div class="carousel-caption d-none d-md-block">
                <h5>Youth Basketball Expert</h5>
                <p>Go with us</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="/static/images/basket0.png" class="d-block w-100" alt="Youth Basketball Expert">
            <div class="carousel-caption d-none d-md-block">
                <h5>Youth Basketball Expert</h5>
                <p>No pain no gain</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/static/images/basket1.png" class="d-block w-100" alt="Youth Basketball Expert">
            <div class="carousel-caption d-none d-md-block">
                <h5>Youth Basketball Expert</h5>
                <p>Simply the best</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#main-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#main-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Welcome to Youth Basketball Expert</h1>
            <p>
                COPY
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Diam vulputate ut pharetra sit amet aliquam. Nunc eget lorem dolor sed viverra
                ipsum nunc aliquet. Gravida quis blandit turpis cursus. Consequat id porta nibh venenatis cras sed felis
                eget. Sed arcu non odio euismod lacinia at quis risus. Vehicula ipsum a arcu cursus vitae congue. Enim
                nulla aliquet porttitor lacus luctus accumsan. Purus sit amet volutpat consequat mauris nunc congue nisi
                vitae. Quisque non tellus orci ac auctor augue mauris augue. Et sollicitudin ac orci phasellus egestas
                tellus rutrum tellus pellentesque. Eget magna fermentum iaculis eu non diam phasellus vestibulum lorem.
                Orci dapibus ultrices in iaculis nunc. Laoreet non curabitur gravida arcu ac tortor dignissim. Porttitor
                lacus luctus accumsan tortor posuere ac ut consequat semper.

                Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien. Risus feugiat in ante metus
                dictum at tempor commodo ullamcorper. A diam sollicitudin tempor id eu nisl. Sit amet volutpat consequat
                mauris nunc congue nisi vitae suscipit. Penatibus et magnis dis parturient montes nascetur ridiculus
                mus. Volutpat diam ut venenatis tellus in metus vulputate eu. Ullamcorper sit amet risus nullam.
                Tristique et egestas quis ipsum suspendisse. Pellentesque sit amet porttitor eget dolor morbi non arcu.
                Tincidunt tortor aliquam nulla facilisi cras fermentum.

                Ac tincidunt vitae semper quis lectus nulla at. Gravida rutrum quisque non tellus orci ac auctor augue.
                Tempus imperdiet nulla malesuada pellentesque. Imperdiet proin fermentum leo vel orci porta non
                pulvinar. Viverra accumsan in nisl nisi scelerisque eu ultrices. Sed cras ornare arcu dui vivamus arcu
                felis. Faucibus turpis in eu mi bibendum neque. Faucibus purus in massa tempor. Ligula ullamcorper
                malesuada proin libero nunc consequat interdum. Sed enim ut sem viverra aliquet eget sit amet tellus.
                Sed risus pretium quam vulputate dignissim suspendisse in est ante. Sed risus ultricies tristique nulla
                aliquet enim tortor at auctor. Tortor aliquam nulla facilisi cras. Etiam erat velit scelerisque in.
                Pulvinar mattis nunc sed blandit libero volutpat sed cras. Tempor orci eu lobortis elementum nibh tellus
                molestie nunc. Ut consequat semper viverra nam.

                Lobortis feugiat vivamus at augue eget. Nibh sit amet commodo nulla facilisi nullam vehicula ipsum a.
                Tristique sollicitudin nibh sit amet commodo nulla facilisi. Nisl purus in mollis nunc sed. Venenatis
                urna cursus eget nunc scelerisque. Sit amet justo donec enim diam vulputate ut. Blandit cursus risus at
                ultrices. Sagittis orci a scelerisque purus semper eget duis at tellus. Tortor id aliquet lectus proin
                nibh nisl condimentum id venenatis. Rhoncus mattis rhoncus urna neque. Vitae semper quis lectus nulla at
                volutpat diam.

                Pretium viverra suspendisse potenti nullam ac tortor vitae. Pellentesque elit eget gravida cum sociis
                natoque penatibus et. Bibendum arcu vitae elementum curabitur vitae nunc sed. Quis viverra nibh cras
                pulvinar mattis. Enim neque volutpat ac tincidunt vitae semper quis lectus nulla. Ultrices vitae auctor
                eu augue ut lectus arcu bibendum at. Amet volutpat consequat mauris nunc congue nisi vitae. Ac placerat
                vestibulum lectus mauris ultrices eros. Aliquet nec ullamcorper sit amet risus nullam. Felis donec et
                odio pellentesque diam. Sit amet facilisis magna etiam tempor orci eu. Dictum at tempor commodo
                ullamcorper a lacus. Nunc congue nisi vitae suscipit tellus mauris a diam maecenas.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="/reservations/new" class="btn btn-success">Make reservation now</a>
        </div>
    </div>
</div>
<footer class="bd-footer py-5 mt-5 border-top bg-light">
    <div class="py-5 container">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/"
                   aria-label="Bootstrap">
                    <img src="/static/images/logo.png" alt="Youth Basketball Expert" height="40"
                         class="d-inline-block align-text-top">
                </a>
                <div class="small text-muted">
                    <p>Designed from love to basketball.</p>
                    <p>YBE aims to connect youth prospects with General Managers, basketball scouts, personal coaches.
                        Delivers stats, rankings, highlights. Allows to access the best personal coaches and camps.
                        As a player you might sure it is going to take your career to the next level.
                        As a basketball you have access to game result, player of the game and more information.
                        Feel the joy of youth basketball again.</p>
                    <p>Currently v1.0.0 (beta).</p>
                </div>
            </div>
            <div class="col-6 col-lg-2 mb-3 offset-lg-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-6 col-lg-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-6 col-lg-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>
        </div>

        <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>© 2021 Youth Basketball Expert, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#">
                    <svg class="bi" width="24" height="24">
                        <use xlink:href="#twitter"></use>
                    </svg>
                </a></li>
                <li class="ms-3"><a class="link-dark" href="#">
                    <svg class="bi" width="24" height="24">
                        <use xlink:href="#instagram"></use>
                    </svg>
                </a></li>
                <li class="ms-3"><a class="link-dark" href="#">
                    <svg class="bi" width="24" height="24">
                        <use xlink:href="#facebook"></use>
                    </svg>
                </a></li>
            </ul>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>
</html>